<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{% block title %} HR Manager {% endblock %}</title>
    <link rel="stylesheet" href='{% static "styles.css" %}' />
</head>
<body>
<div class="banner">HR Manager</div>
<div class="menu">
    <a href="/hr/home/">Home</a>
    &nbsp;
    <a href="/hr/adddept/">Add Dept</a>
    &nbsp;
    <a href="/hr/addemp/">Add Employee</a>
    &nbsp;
    <a href="/hr/search/">Search Depts</a>
</div>

{% block content %}{% endblock %}

</body>
</html>