{% extends "master.html" %}

{% block title %} Home {% endblock %}
{% block content %}
<h2>Search Departments</h2>
Name : <input type="text" id="name"/>
<button>Search</button>

<div id="details" style="visibility:hidden">
    <table border="1" cellpadding="5pt">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Location</th>
            <th></th>
        </tr>
        {% for d in depts %}
        <tr>
            <td> {{d.id }}</td>
            <td> {{d.name }}</td>
            <td> {{d.location }}</td>
            <td>
                <a href="/hr/editdept/{{d.id}}">Edit</a>
                &nbsp;
                <a href="/hr/deletedept/{{d.id}}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>


</div>

{% endblock%}